/* FOR EVERY PAGE */

@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");

html {
  height: 100%;
  font-family: "Titillium Web", sans-serif;
  background-color: #82dcd8;
  color: #424242;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: inherit;
}

body {
  margin: 0px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: auto;
}
.wrapperSpace {
  flex-grow: 1;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

footer {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0%;
}

.navbar {
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  padding: 2px 5%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: #eeeeee;
  background-color: #424242;

  z-index: 1;

  font-size: 17px;
}

.navlinks {
  list-style: none;
  padding: 0px;
}
.navlinks li {
  display: inline-block;
  padding: 0px 40px 0px 0px;
}

.navbar a {
  color: #bbbbbb;
  text-decoration: none;
}

.navbar a:hover,
.current a {
  color: #eeeeee;
  font-weight: bold;
  border-bottom: 3px solid #eeeeee;
  transition: 0.2s;
}

.navspace {
  height: 80px;
}

.languageSelect {
  position: relative;
  display: inline-block;
  width: 115px;
}
.langBtn {
  background-color: #424242;
  width: 100%;
  font-family: inherit;
  color: #eeeeee;
  padding: 5px;
  font-size: 16px;
  border: none;

  border-radius: 10px 10px 0px 0px;
}
.langOptions {
  display: none;
  position: absolute;
  background-color: #424242;
  min-width: 100%;
  text-align: center;
  z-index: 1;
  border-radius: 0px 0px 10px 10px;
  overflow: hidden;
}
.languageSelect:hover .langOptions {
  display: block;
}
.langBtn:hover {
  background-color: #eeeeee;
  color: #424242;
}
.lang {
  padding: 5px;
  cursor: pointer;
}
.lang:hover {
  background-color: #eeeeee;
  color: #424242;
}

.main {
  height: 550px;
  padding-top: 80px;
  margin: 0;
  margin-bottom: 50px;
  text-align: center;

  background-image: url("map.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;

  border-bottom: 10px solid #424242;
}

.main h1 {
  font-size: 80px;
  margin: 0px;
}
.titleBox {
  background-color: #eeeeeed6;
  padding: 20px;
}
.titleBox p {
  font-size: 20px;
  margin: 0px;
}

.maintxt {
  text-align: center;
  max-width: 60%;
}

.main h2 {
  font-size: 50px;
}

/* HOME */

.pages {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0px 30px;
}

.page {
  background-color: #eeeeee;
  box-shadow: 10px 10px #42424272;
  margin: 30px;
  padding: 30px;
  height: max-content;
}
.page h1 {
  font-size: 30px;
}

.page h2 {
  font-size: 25px;
}

.page a {
  text-decoration: none;
  color: #3e8885;
  font-size: 18px;
  border-bottom: 1px solid #3e8885;
  transition: border-bottom 0.3s ease;
}

.page a:hover {
  border-bottom: 1px solid #88b5b3;
}

.page p {
  font-size: 20px;
}

.page img {
  max-width: 100%;
}

#img-center {
  text-align: center; /* Center the child element horizontally */
}

#dbChart {
  width: 50%;
}

/* ABOUT */

/* MAP */

#map {
  height: 500px;
  background-color: #00000022;
  z-index: 0;
}
.mapGrid {
  display: grid;
  grid-template-columns: 65% auto;
  grid-template-rows: auto;
}

.mapTxt {
  padding: 0px 0px 0px 30px;

  display: grid;
  grid-template-columns: auto auto;
}
.txtMain {
  height: 100%;
  overflow: scroll;
}

#dataBlocks {
  height: 337px;
}
#reportForm {
  height: 423px;
}

button {
  cursor: pointer;
  position: relative;
  color: #424242;
  border: 2px solid #424242;
  background-color: #eeeeee;
  border-radius: 10px;
  font-family: inherit;
  transition: 0.2s;
}

button:hover {
  color: #eeeeee;
  background-color: #424242;
  transition: 0.2s;
}

#mapInfo {
  display: block;
}

#mapReport,
#mapData {
  display: none;
}

.reportBtn {
  box-shadow: 2px 2px #424242;
  padding: 10px 15px;
  font-size: 18px;
}

form button {
  padding: 5px 10px;
  font-size: 16px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.reportBtn:active {
  box-shadow: none;
  transform: translate(2px, 2px);
}

#reportForm h3 {
  background-color: #82dcd8;
  padding: 5px;
  text-align: center;
}

#perception,
#perceptionNum {
  vertical-align: middle;
}

.slidecontainer {
  width: 95%;
}
.slidecontainer input {
  width: 100%;
  height: 8px;
  appearance: none;
  background-color: #82dcd8;
  color: #424242;
  border-radius: 10px;
}
.num {
  text-align: center;
  font-size: 40px;
}
#loudTxt {
  text-align: center;
}

.type {
  display: inline-block;
}

.label {
  display: block;
}

.back {
  float: right;
}

.dataBlocks {
  max-height: 400px;
  overflow: scroll;
}

.data {
  border-radius: 10px;
  margin: 15px 5px;
  padding: 15px;
}

.data p {
  margin: 0px;
}
.data h3 {
  margin: 0px;
  font-size: 20px;
}
.data h4 {
  margin: 0px;
  font-size: 18px;
}
.data button {
  font-size: 20px;
  font-family: inherit;
  width: 100%;
  cursor: pointer;
  border: none;
  background-color: transparent;
  text-align: left;
  padding: 0px;
}
.data button:hover {
  color: #424242;
  border: none;
  background-color: transparent;
}
.collapseIcon {
  float: right;
}
.blockContent {
  height: 0;
  overflow: hidden;
  transition: all 0.5s ease-out;
}

#tileLabeled {
  display: grid;
  grid-template: 1fr auto 1fr / 1fr auto 1fr;
  grid-gap: 5px, 5px;
}
.labelItem {
  min-width: fit-content;
  min-height: fit-content;
  font-size: 12px;
}
.gridBox {
  background-color: #3e8885;
  width: 50px;
  height: 50px;
  border: 2px solid #424242;
}

/* HANDBOOK */
.handbook {
  padding: 20px;
  align-items: flex-start;
  flex-wrap: nowrap;
}

#handbookTxt {
  flex-grow: 1;
  max-height: calc(100vh - 160px - 100px);
  overflow: scroll;
}

#handbookNav {
  display: flex;
  flex-direction: column;
  min-width: fit-content;
}

#tagSearch {
  box-sizing: border-box;
  font-size: 16px;
  padding: 8px;
  border: none;
  min-width: 200px;
  font: inherit;
  color: #424242;
}

#tagSearch:focus {
  outline: 2px solid #82dcd8;
}

.tagContainer {
  position: relative;
  display: inline-block;
  margin: 5px;
}
.tag {
  background-color: #82dcd8;
  color: #424242;
  border-radius: 20px;
  margin: 5px;
  padding: 10px;
  width: fit-content;
}
.tagX {
  background-color: transparent;
  border: none;
  font-size: small;
  font-weight: bold;
  padding: 0px;
  padding-left: 10px;
  margin: 0px;
}
.tagX:hover {
  background-color: transparent;
  border: none;
  font-size: small;
  font-weight: bolder;
}
#selectedTags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.dropdown {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 200px;
  z-index: 1;
}

.dropdown button {
  color: #424242;
  background-color: #ffffff;
  border: none;
  font: inherit;
  width: 100%;
  border-radius: 0%;
  padding: 12px 16px;
  display: block;
  text-align: left;
}

.dropdown button:hover {
  background-color: #82dcd8;
  color: #424242;
}

.feeling-container {
  display: flex;
  justify-content: space-between;
  padding: 0.4rem 0.8rem;
  width: 100%;
}

.feeling-container label {
  background-color: #82dcd8;
  font-size: 30px;
  cursor: pointer;
  padding: 3px 8px;
  border-radius: 10px;
  border: 2px solid #82dcd8;
}
input[type="radio"] {
  display: none;
}
input[type="radio"]:checked + label {
  background-color: #424242;
  border: 2px solid #424242;
}
input[type="radio"]:hover + label {
  border: 2px solid #424242;
}

/* popup stuff */

.popupContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  display: none;
  z-index: 1000;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  max-width: 50%;
  background-color: #eeeeee;
  border-radius: 15px;
  color: #424242;
  padding: 40px;
  text-align: left;
  line-height: 1.7;
}

.popup input {
  font-family: inherit;
  font: inherit;
  color: #424242;
  border: none;
  width: fit-content;
}
.popup input:focus {
  outline: 2px solid #82dcd8;
}

/*Small screen*/
@media only screen and (max-width: 1000px) {
  .mapGrid {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }
  .mapTxt {
    padding: 20px;
  }
  .pages {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
  }
  .main h1 {
    font-size: 60px;
    margin: 0px;
  }

  .handbook {
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0px;
  }
  #handbookNav {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  #handbookNav a {
    margin: 5px;
  }
  .popup {
    max-width: 80%;
  }
}

/*mobile*/
@media only screen and (max-width: 500px) {
  .page {
    margin: 0px;
    box-shadow: 0px 10px #42424272;
  }

  .navbar,
  .langBtn {
    font-size: 15px;
  }
  .navlinks li {
    padding: 0px 20px 0px 0px;
  }
  .languageSelect {
    width: 100px;
  }
}
